<!DOCTYPE html>
<html>
<head>
<%- include('module/meta'); -%>
<%- include('module/common'); -%>
</head>
<body>
<%- include('module/header'); -%>
<%- include('module/footer'); -%>
<script src="./src/js/top.js"></script>
</body>
</html>