@charset "utf-8";

//---------- ブレイクポイント ----------
$breakPointSP: 767px;
$breakPointPC: 768px;

//---------- フォント形式 ----------
$fontYu: 游ゴシック体, "Yu Gothic", YuGothic;

//---------- パレット ----------
$palettes: (
    theme: (
      blue: #195ca5
    ),
    button: (
      orange: #ff8900,
      red: #f14841,
      yellow: #fcd434
    ),
    background: (
      gray: #fafafa,
      blue: #e8eff6
    ),
    text: (
      blue: #2B374E,
      blueLink: #0089FC
    ),
);

@function palettes($key, $tone: base) {
    @return map-get(map-get($palettes, $key), $tone);
}

// 呼び出し方法
// color: palettes(button, orange);
